@import 'fonts';
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1D1E28;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(/launch-countdown/images/bg-stars.svg), url(/launch-countdown/images/pattern-hills.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, right bottom;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5.4rem;
    height: 50rem;
    .title {
        @include h1-text;
    }
    #countdown {
        display: flex;
        column-gap: 1.6rem;
        justify-content: space-between;
        div {
            display: flex;
            flex-direction: column;
            row-gap: 2.8rem;
            @include text;
            span {
                @include numText;
                width: 7rem;
                height: 6.6rem;
                background: #343650;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: radial-gradient(circle at 0 100%, rgba(25, 26, 35, 1) 4px, #2d2f42 0px), radial-gradient(circle at 100% 100%, rgba(25, 26, 35, 1) 4px, #2d2f42 0px), radial-gradient(circle at 100% 0, rgba(25, 26, 35, 1) 4px, #343650 0px), radial-gradient(circle at 0 0, rgba(25, 26, 35, 1) 4px, #343650 0px);
                background-position: top left, top right, bottom right, bottom left;
                backdrop-filter: brightness(0.7);
                background-size: 50% 50%;
                background-repeat: no-repeat;
                height: 66.26667022705078px;
                width: 70px;
                border-radius: 8px;
            }
        }
    }
}

.social-icons {
    width: 13.6rem;
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 25rem;
    div {
        width: 2.4rem;
        height: 2.4rem;
    }
    .fb {
        background-image: url(/launch-countdown/images/icon-facebook.svg);
    }
    .pinterest {
        background-image: url(/launch-countdown/images/icon-pinterest.svg);
    }
    .instagram {
        background-image: url(/launch-countdown/images/icon-instagram.svg);
    }
}

@media screen and (min-width: 1440px) {
    br {
        display: none;
    }
    .wrapper {
        background-position: right top, center bottom;
    }
    .container {
        .title {
            font-size: 2.2em;
            line-height: 2.9em;
            text-align: center;
            letter-spacing: 7.5px;
        }
        #countdown {
            width: 68.8rem;
            height: 18.4rem;
            div {
                @include textDesktop;
                span {
                    width: 15rem;
                    height: 15rem;
                    @include numTextDesktop;
                }
            }
        }
    }
    .social-icons {
        margin-top: 20rem;
        div {
            &:hover {
                cursor: pointer;
                filter: #FB5E84;
            }
        }
    }
}